body{
    background-image: linear-gradient(to left, #0e5c7e, #5cbfec);
}

.paragrafoLogin {
    font-family: 'calibri', sans-serif;
    color: #ffffff;
    text-align: right ;
    margin-right: 15px;
    margin-top: -25px;
}
.h1ReservaLab {
    font-family: 'calibri', sans-serif;
    color: #ffffff;
    font-size: 45px;
    text-align: right ;
    margin-right: 15px;
    
    
}
.h4Personalizado {
    font-family: 'calibri', sans-serif;
    color: #ffffff;
    font-size: 40px
}
.textoCadastro {
    font-family: 'calibri', sans-serif;
    color: #ffffff;

}

.textoBranco {
    font-family: 'calibri', sans-serif;
    color: #ffffff;
}

.textoLaranja {
    font-family: 'calibri', sans-serif;
    color: #f38f00;
}

.botaoEnviar:hover {
    color: #007aa2;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}
.botaoEnviar{
    background-color: #007aa2;
    color: white;
    padding: 7px 35px 7px 35px;
    border: 1px solid #007aa2;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 5px 5px 5px #004b57
}

.homebody {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
.homeBackgroundContainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url('../../../public/foto-desfocada.jpg');
    background-repeat: no-repeat;
}

.homeFormContainer {
    width: 100%;
    height: 100%;
    right: 100%;
    text-align: center;
    position: relative;
}

  
h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }

.homeLink {
    text-decoration: none;
    display: block;
    margin: 15px 0;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    background-color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.homeLink:hover {
    background-color: #2980b9;
}