.homebody {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  .homeBackgroundContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://www.impacta.edu.br/themes/wc_agenciar3/images/default.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1; /* Move o plano de fundo para trás do conteúdo */
}

  
.homeFormContainer {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 10 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: auto;
    margin-top: 200px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Adicionado para centralizar vertical e horizontalmente */
}

  
h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }

.homeLink {
    text-decoration: none;
    display: block;
    margin: 15px 0;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    background-color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.homeLink:hover {
    background-color: #2980b9;
}